
body{
    font-family: 'open sans';
}

.contenedor
{
    padding: 60 px 0;
    width: 90%;
    max-width: 1000 px;
    margin: auto;
}

.titulo
{
    color: #e20d0d;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    transition-property:true ;
}

header
{
    width: 100%;
    height: 600px;
    background: #0c6410; 
    background: -webkit-linear-gradient(to right, hsla(125, 93%, 32%, 0.438), #2bc76783), url(../img/anuncios.svg); 
    background: linear-gradient(to right, hsla(125, 90%, 35%, 0.438), #2bc76783), url(../img/anuncios.svg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a{
color:#ffff;
font-weight: 300;
text-decoration: none;
margin-right: 10px;
}

nav> a:hover{
    text-decoration:underline;
    }


header .textos-header
{
display: flex;
height: 430px;
width: 100%;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.textos-header h1
{
    font-size: 50px;
    color: #ffff;
}

.textos-header h2
{
    font-size: 30px;
    font-weight: 300;
    color: #ffff;
}

.wave{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

.contenedor-sobre-nosotros
{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us
{
    width: 48%;
}

.sobre-nosotros .contenido-texto
{
    width: 48%;
}

.contenido-texto h3
{margin-bottom: 15px;

}

.contenido-texto h3 span
{background: #4d0686;
    border-radius: 50%;
    color: #ffff;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    padding: 2px;
    margin-right: 5px;
}

.contenido-texto p{
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.portafolio{
    background: #f2f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
  flex-wrap: wrap;

}

.imagen-port{
    height: 200px;
    width: 24%;
    margin-bottom: 10px;
    overflow:  hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img{
    width: 100%;
    height: 100%;
    object-fit: conver;
    display: block;
}


.hover-galerias{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .hover-galerias img{
     width: 50px;
 }
 .hover-galerias p{
     color:#ffff;
 }

 .imagen-port:hover .hover-galerias{
     transform: scale(1);
 }

 .cards{
     display: flex;
     justify-content: space-evenly;
 }

 .cards .card{
     background: #4d0686;
     display: flex;
     width: 46%;
     height: 200px;
     align-items: center;
     justify-content: space-evenly;
     border-radius: 5px;
     box-shadow: 00 6px 0 rgba(0, 0, 0, .6);
 }

 .cards .card img{
     width: 100px;
     height: 100px;
     object-fit:cover;
     border: 3px solid #ffff;
     border-radius:50%;
     display:  block;
 }

 .cards .card > .contenido-texto-card{
     width: 60%;
     color: #ffff;
 }

 .cards .card > .contenido-texto-card p{
     font-weight: 300px;
     padding-top: 5px;
 }

 .about-services{
     background: #f2f2f2;
     padding-bottom: 30px;
 
 }

 .servicio-cont{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

.servicio-ind{
    width:28%;
    text-align: center;
}

.servicio-ind img 
{width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}